<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
    </head>
    <header>

    </header>
    <body>
        <h1><%= title %></h1>
        <h2>Home page under contruction</h2>
        <h3>Components available:</h3>
        <nav>
            <a href="<%= page.guidanceFeedback %>">Guidance Feedback Widget</a>
            <a href="<%= page.recommendedLinksDiscovery %>">Recommended Links Discovery</a>
            <a href="<%= page.detailsFeedback %>">Details Feedback Widget</a>
            <a href="<%= page.wtegView %>">WTEG Feedback Widget</a>
        </nav>
    </body>
</html>
